<div class="page-header">
    <h1 _ngcontent-unf-43="">
        Championats
    </h1>
    <div class="page-actions ml-auto">
        <button class="btn btn-primary btn--raised" [routerLink]="['/championats/add']">Add New Championat</button>
    </div>
</div>
<div class="top-teams js-sortable ui-sortable">
    <!--template bindings={}-->
    <div class="top-team js-sortable-item" *ngFor="let item of ItemsData" data-item-id="20">
        <div class="top-team__title">
            {{item.name}}
        </div>
        <div class="top-team__actions">
            <button class="btn btn--transparent btn--flex" data-toggle="dropdown" type="button" (click)="activeActions($event)">
            <i class="material-icons">more_vert</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button" [routerLink]="['/championats/',  item.id ]">
                Edit
                </button>
                <button class="dropdown-item" type="button" (click)="delete( item.id )">
                Delete
                </button>
            </div>
        </div>
    </div>
</div>