<div class="page-header">
    <h1>
        პრეროლები
    </h1>
    <div class="page-actions ml-auto">
        <!--<div class="btn-group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" type="button">
              Sort by: Title
              </button>
            <div aria-labelledby="dropdownMenuButton" class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item">Title</button>
                <button class="dropdown-item">Article Count</button>
            </div>
        </div>-->
        <button class="btn btn-primary btn--raised" [routerLink]="['/prerolls/add']">დამატება</button>
    </div>
</div>
<div class="tags">
    <table class="table">
        <tbody>
            <tr>
                <th>დასახელება</th>
                <th>პროცენტულობა</th>
                <th>აქტიურია</th>
                <th>შექმნის თარიღი</th>
            </tr>
            <!--template bindings={}-->
            <tr class="tag" *ngFor="let tag of ItemData">
                <td width="50%">
                    <div class="tag__title">
                        {{tag.name}}
                    </div>
                </td>
                <td width="20%">
                    {{tag.percentage}}
                </td>
              <td width="10%">
                <i *ngIf="tag.is_active" class="material-icons text-success">check_circle</i>
                <i *ngIf="!tag.is_active" class="material-icons text-danger">cancel</i>
              </td>
              <td width="10%">
                {{tag.created_at}}
              </td>
                <td width="10%">
                    <div class="tag__actions">
                        <button class="btn btn--transparent btn--flex" data-toggle="dropdown" type="button" (click)="activeActions($event)">
                       <i class="material-icons">more_vert</i>
                       </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button" [routerLink]="['/prerolls/',  tag.id ]">
                          რედაქტირება
                          </button>
                            <button class="dropdown-item" type="button" (click)="deleteItem(tag)">
                          წაშლა
                          </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
