<div class="page-header">
    <h1>
        სატრანსფერო სეზონები
    </h1>
    <div class="page-actions ml-auto">
        <!--<div class="btn-group">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" type="button">
              Sort by: Title
              </button>
            <div aria-labelledby="dropdownMenuButton" class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item">Title</button>
                <button class="dropdown-item">Article Count</button>
            </div>
        </div>-->
        <button class="btn btn-primary btn--raised" [routerLink]="['/transfer-seasons/add']">დამატება</button>
    </div>
</div>
<div class="tags">
    <table class="table">
        <tbody>
            <tr>
                <th>დასახელება</th>
            </tr>
            <!--template bindings={}-->
            <tr class="tag" *ngFor="let tag of ItemData.data">
              <td width="80%">
                <a [routerLink]="['/transfer-seasons/'+tag.id+'/transfers']">{{tag.name}}</a>
              </td>
              <td>
                <a [routerLink]="['/transfer-seasons/'+tag.id+'/transfers']">ტრანსფერები</a>
              </td>
                <td width="10%">
                    <div class="tag__actions">
                        <button class="btn btn--transparent btn--flex" data-toggle="dropdown" type="button" (click)="activeActions($event)">
                       <i class="material-icons">more_vert</i>
                       </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <button class="dropdown-item" type="button" [routerLink]="['/transfer-seasons/',  tag.id ]">
                          რედაქტირება
                          </button>
                            <button class="dropdown-item" type="button" (click)="deleteItem(tag)">
                          წაშლა
                          </button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
