.articles {
    border: solid 1px #EEEEEE;
    border-top: none;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    margin-top: 10px; }
    


    

.article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    border-top: solid 1px #EEEEEE;
    padding: 10px; }
    .article__image {
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 20px;
      color: #fff;
      background-color: #448AFF;
      width: 48px;
      height: 48px; }
    .article__image--unpublished {
        background-color: #f44336; }
    .article__actions {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .article__title {
      width: calc(40% - 72px);
      padding-left: 10px;
      color: inherit; }
    .article__frontview {
      margin-left: 15px;
      margin-top: 5px; }
    .article__frontview   i {
        font-size: 20px;
        color: #636c72; }
    .article__category {
      width: 20%;
      padding: 10px; }
    .article__views {
      width: 20%;
      padding: 10px; }
    .article__author {
      width: 20%;
      padding: 10px; }



.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}


.pagination>li {
  display: inline;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #e63c47;
  border-color:#e63c47;
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #585858;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  z-index: 2;
  color: #585858;
  background-color: #eee;
  border-color: #ddd;
}

a, .btn-secondary{
  cursor: pointer;
}