<div class="auth">
    <form class="auth__form ng-valid ng-dirty ng-touched" (submit)="loginUser($event)">
        <!--template bindings={}-->
        <div class="form-group">
            <input class="form-control ng-valid ng-dirty ng-touched" id="email" name="email" placeholder="Email" type="text">
        </div>
        <div class="form-group">
            <input class="form-control ng-valid ng-dirty ng-touched" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group mb-0">
            <button class="btn btn-primary w-100">Log In</button>
        </div>
    </form>
</div>