<div class="sidebar">
    <nav class="sidebar__nav">
        <ul>
            <!--template bindings={}-->
            <li>
                <a routerLink="/dashboard" routerLinkActivate="activate" href="/dashboard">
                    <i class="material-icons">dashboard</i>მთავარი
                </a>
            </li>
            <li>
                <a routerLink="/categories" routerLinkActivate="activate" href="/categories">
                    <!-- routerlink="/categories" href="/categories" -->
                    <i class="material-icons">list</i>კატეგორიები
                </a>
            </li>
          <li>
            <a routerLink="/articles" routerLinkActivate="activate" href="/articles">
              <i class="material-icons">chrome_reader_mode</i>სტატიები
            </a>
          </li>
          <li>
            <a routerLink="/transfer-seasons" routerLinkActivate="activate" href="/transfer-seasons">
              <i class="material-icons">grade</i>ტრანსფერები
            </a>
          </li>
          <li>
            <a routerLink="/tags" routerLinkActivate="activate" href="/tags">
              <i class="material-icons">label</i>ტეგები
            </a>
          </li>
          <li>
            <a routerLink="/prerolls" routerLinkActivate="activate" href="/prerolls">
              <i class="material-icons">video_library</i>პრეროლები
            </a>
          </li>
          <li>
            <a routerLink="/anchors" routerLinkActivate="anchors" href="/anchors">
              <i class="material-icons">link</i>სტიყვის ავტ. გალინკვა
            </a>
          </li>
            <li>
                <a routerLink="/clubs" routerLinkActivate="activate" href="/clubs">
                    <i class="material-icons">grade</i>კლუბები
                </a>
            </li>
            <li>
                <a routerLink="/players" routerLinkActivate="activate" href="/players">
                    <i class="material-icons">grade</i>მოთამაშეები
                </a>
            </li>
            <li>
                <a routerLink="/championats" routerLinkActivate="activate" href="/championats">
                    <i class="material-icons">grade</i>ჩემპიონატები
                </a>
            </li>
            <li>
                <a routerLink="/users" routerLinkActivate="activate" href="/users">
                    <i class="material-icons">person</i>წევრები
                </a>
            </li>
            <li>
                <a routerLink="/albums" routerLinkActivate="activate" href="/albums">
                    <i class="material-icons">photo_library</i>ფოტო გალერეა
                </a>
            </li>
            <li>
                <a routerLink="/videos" routerLinkActivate="activate" href="/videos">
                    <i class="material-icons">video_library</i>ვიდეო გალერეა
                </a>
            </li>
            <li>
                <a routerLink="/polls" href="/polls">
                    <i class="material-icons">poll</i>გამოკითხვა
                </a>
            </li>
            <li>
                <a routerLink="/comments" href="/comments">
                    <i class="material-icons">comment</i>კომენტარები
                </a>
            </li>
            <li>
                <a routerLink="/ads" routerLinkActivate="activate" href="/ads">
                    <i class="material-icons">vertical_split</i>რეკლამა
                </a>
            </li>
            <li>
                <a routerLink="/sidebar" routerLinkActivate="activate" href="/sidebar">
                    <i class="material-icons">vertical_split</i>პარამეტრები
                </a>
            </li>
        </ul>
    </nav>
</div>
